<!-- Services Section -->
    <section id="hobbies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hobbies</h2>
                    <h3 class="section-subheading text-muted">
                      I'm a jack of all trades, master of none. There are not enough hours in the day to pursue all my interests,
                      I do a little bit of everything and enjoy the cross-section moments,
                      where different hobbies meet.

                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Video Production & Photography</h4>
                    <p class="text-muted">I love video production, because it helps us to see the magic in our lives.
                      Stories, shots, lightning, cuts, colors and music helps us to see what is in front of us.
                      In my quest of beauty and quality I've thrown a fair amount of $ and some hundreds of
                      hours to this, but I'm far from done. Better! Faster!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Music</h4>
                    <p class="text-muted">Music entered my life around my teenage. I played in few bands (drums/base/quitar),
                      recorded demos for others, did public audio gigs etc.
                      For therapy, I've arranged festivals for few hundred
                      closest friends, <a href="https://www.youtube.com/watch?v=fR6yLqiN80c">I got back behind drums</a>
                      and lately I've discoverd a
                      studio I never had as a kid, from Logic Pro X.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-rock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Martiala Arts</h4>
                    <p class="text-muted">
                      Around early 2000 I discovered a <a href="http://jkd.fi">JKD school</a>, and got hooked with the quality of the instructors and the practicality of the art
                      .I earned my black belt, but eventually family, kids and a life as an enterpreneur took most of my time. I'm still hanging in there, as with a bit
                      of a luck it will add me 10+ good years.
                    </p>
                </div>
            </div>
        </div>
    </section>
